[2017-01-25 17:59] maxbbraun opened #1 "ProtocolError: ('Connection broken: IncompleteRead(0 bytes read, XXX more expected)', IncompleteRead(0 bytes read, XXX more expected))"
[code]

[2017-01-26 00:19] maxbbraun opened #2 "NameError: global name 'logger' is not defined"
[code]

[2017-01-26 00:23] #2 closed, assigned to maxbbraun

[2017-01-28 23:19] #1 closed, assigned to maxbbraun

[2017-01-30 03:39] maxbbraun opened #3 "Better sentiment analysis"
The sentiment analysis [sometimes gets it wrong](https://github.com/maxbbraun/trump2cash/blob/master/benchmark.md#124-2017-1249-pm-tuesday). It also assigns the tweet's overall sentiment to all companies, which may not be correct [in some cases](https://github.com/maxbbraun/trump2cash/blob/master/benchmark.md#118-2017-734-am-wednesday).

One idea would be to try targeted sentiment analysis, e.g. u

[2017-01-30 03:45] maxbbraun opened #4 "Improve Wikidata query"
The [current Wikidata query](https://github.com/maxbbraun/trump2cash/blob/master/analysis.py#L11), for example, takes chains of ownership and subsidiaries into account, but doesn't mix those chains.

There are also probably additional relationships between companies that should be taken into account.

[2017-01-30 03:47] maxbbraun opened #5 "Trade more than just equities"
E.g. currency based on sentiment toward countries or governments? Futures while markets are closed?

[2017-01-30 03:50] maxbbraun opened #6 "Look at more than just Trump"
E.g. other specific people or [topics](https://dev.twitter.com/streaming/reference/post/statuses/filter) or [everything](https://dev.twitter.com/streaming/reference/get/statuses/firehose).

[2017-01-30 03:54] maxbbraun opened #7 "Make it work outside of Compute Engine"
Could be nice to lower the barrier of entry.

Cloud logging can already be disabled easily. Maybe wrap some imports in try/except.

Would need to figure out how to make [Application Default Credentials](https://developers.google.com/identity/protocols/application-default-credentials#howtheywork) work for the Cloud Natural Language API.

[2017-01-30 03:56] maxbbraun opened #8 "Improve test coverage"
Some unit tests still need to be written or expanded.

[2017-01-30 03:57] maxbbraun opened #9 "Use limit orders"
Seems risky to always buy at market rate. Should use some reasonable range around the expected price.

[2017-01-30 04:13] maxbbraun opened #10 "Make analysis work correctly on all historical tweets"
Some tweets which are not being properly analyzed include:
- ~~[672926510924374016](https://twitter.com/realDonaldTrump/status/672926510924374016) – Macy's not detected~~
- [803808454620094465](https://twitter.com/realDonaldTrump/status/803808454620094465) – Carrier not detected
- [812061677160202240](https://twitter.com/realDonaldTrump/status/812061677160202240) – [~~Lockheed Martin not detected

[2017-01-30 04:16] maxbbraun opened #11 "Train a deep net to pick the trading strategy"
Inputs would include company data, detailed sentiment analysis, structured text analysis data, etc. Use existing historical data for training.

[2017-01-30 05:36] maxbbraun opened #12 "InternalServerError: 500 Internal error encountered. (POST https://logging.googleapis.com/v2/entries:write)"
Happening occasionally.

[code]

[2017-01-30 15:45] maxbbraun opened #13 "BadGateway: 502 <!DOCTYPE html> <html lang=en> <meta charset=utf-8> <meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width"> <title>Error 502 (Server Error)!!1</title> <style> *{margin:0;padding:0}html,code{font:15px/22px arial,…"
Happening occasionally.

[code]

[2017-01-30 15:59] maxbbraun opened #14 "More aggressive selling"
For negative sentiment: Sell short, then try detecting when the stock recovers and buy to cover instead of waiting until market close.

[2017-01-30 19:48] maxbbraun opened #15 "AttributeError: 'NoneType' object has no attribute 'strip'"
Seeing this occasionally. Probably the same as https://github.com/tweepy/tweepy/issues/576. Could try using [tweepy from head](https://github.com/tweepy/tweepy.git) instead of the latest in PyPI ([3.5.0](https://pypi.python.org/pypi/tweepy/3.5.0)).

[code]

[2017-01-30 21:10] maxbbraun opened #16 "Place orders even while the market is closed"
Placing an order before the markets open or placing one after close for the next day could still pay off.

Just need to make sure the corresponding sell or cover order at close is for the next day.

Should combine this with using limits (#9) to be safe.

[2017-01-31 03:35] maxbbraun opened #17 "Consider adding @POTUS"
Could look at [@POTUS](https://twitter.com/POTUS)'s tweets in addition to [@realDonaldTrump](https://twitter.com/realDonaldTrump)'s.

Possibly only those that end in "-DJT".

[2017-02-08 19:03] richjdsmith opened #19 "Consider Adding QuestTrade as alternative to TradeKing for Canadians [feature]"
Their API docs are here: http://www.questrade.com/api/documentation/getting-started

I am very new to coding but will give it a shot. May need someone with better code eyes to review.

[2017-02-09 00:11] MailrPro opened #20 "Feature request - Documentation for optional removal/replacement of trading vendor"
Would like to trial this as an experiment with European based vendor (IG) and using different products/fin instruments i.e. spread betting, options etc.

If anyone is working on that, awesome, and I'd love to see your progress/trial it. However, I'll also experiment and keep posted.

[2017-02-09 07:33] adamevers opened #21 "Use Robinhood for trading"
Free trades .... but unofficial API

[2017-02-09 13:29] jakedee opened #22 "Enable the use of other trading platform APIs"
TradeKing is only available to customers within within the US.
It would be great if it was possible to replace the TradeKing API with one from another trading platform which is available in Europe/UK.
I'll take a look at the code myself to investigate but I'm very much a beginner with Python.

[2017-02-09 13:47] KevinTaron commented on #22
Yeah!
I'm not prof. trader but maybe
https://www.oanda.com would be solution.

They offer an REST API.
here is a python solution:
https://github.com/oanda/py-api-trading

[2017-02-09 16:25] zhenyulin opened #23 "Build it as a docker image"
This will help shorten the setup process.

Also currently I'm getting some errors during dependency installation as following

`
/usr/bin/ld: cannot find -lz

collect2: error: ld returned 1 exit status

error: command 'x86_64-linux-gnu-gcc' failed with exit status 1
`

[2017-02-09 16:32] zhenyulin commented on #23
the GCC version I'm using is `gcc (Debian 4.9.2-10) 4.9.2`

[2017-02-09 16:50] zhenyulin commented on #23
OK, the build issue resolved when I use Python3. Still would be great to package it as a docker image.

[2017-02-09 16:55] zhenyulin commented on #22
Also I found the `create an application` function in TradeKing doesn't work for me. When I'm redirected back after creating an new personal app, there's nothing in the developer home page.

[2017-02-10 06:13] interwho commented on #19
@richjdsmith Want to work together on this?

[2017-02-10 13:27] petschni commented on #23
@zhenyulin were you able to create a working docker image?

[2017-02-10 14:20] interwho commented on #19
I forked this and added support for Questrade, however, I had to rip out support for TradeKing as a result since things were too tightly integrated, and Questrade's API is missing a bunch of features that TradeKing's has.

See: https://github.com/interwho/trump2cash

I suppose trading.py can be modularized further to support both, with the user being able to choose which to use.

[2017-02-10 15:21] markstos opened #24 "Document which direction you are trading in based on sentiment"
It's not clear from the current docs whether you buy or sell stock for a company that Trump complains about.

You should state your bias about your expectation about Trump's tweets effect on stock prices. (Note that Nordstorm stock went up after Trump complained about them).

[2017-02-10 16:30] doodzik commented on #5
Trading [knockouts](http://www.investopedia.com/terms/k/knock-outoption.asp) instead of stocks could be an interesting way to leverage the movement in price.

What do you think?

[2017-02-10 20:49] domingohui commented on #5
Total beginner when it comes to trading... Wondering if you want to liquidate your position at the end of day, would knockouts be a bit illiquid compared to the underlying stock?

[2017-02-10 21:12] kapilduraphe commented on #21
+1 to that. I'd love to have robinhood integration for this bot.

[2017-02-10 21:18] vitaliyd85 commented on #21
+1

[2017-02-10 21:20] jamesalmeida commented on #21
Yeah this would be amazing but Robinhood needs to release a public API. More info here: https://support.robinhood.com/hc/en-us/articles/210216823-Robinhood-API-Integrations

[2017-02-10 21:26] doodzik commented on #5
Yes, but as long as you have a small position and the bid-ask spread doesn't become too wide it shouldn't be a problem.

It would be interesting to see how trump affects the spread over time.

[2017-02-10 23:16] NahomAgidew opened #26 "Read keys from config file instead of environment variables"
Read keys from config file instead of environment variables

[2017-02-11 00:30] flaw600 commented on #3
I've actually used Watson's API and would be happy to take a crack at it. Not sure at what pace that would be, but I'd be up for it

[2017-02-11 00:57] rstormsf commented on #26
just use: https://pypi.python.org/pypi/python-dotenv

[2017-02-11 00:57] rstormsf commented on #26
so you can create .env file with all configs

[2017-02-11 02:20] tbranyen commented on #3
If you don't mind spawning a java jar and communicating with it over sockets, I worked on a project that did sentiment analysis on the 2012 presidential debate captions. You can see the implementation here (JS): https://github.com/sosolimited/recon_backend/blob/master/named-entity/index.js#L36

Not sure if it'll be helpful, but might be a little easier to start with (but certainly not as powerful

[2017-02-11 02:47] #26 closed

[2017-02-11 03:08] Se1ecto commented on #24
Perhaps it depends on whether or not he actually has the political power to follow his tweets?

[2017-02-11 03:32] dustinkeib opened #28 "Get working in Google App Engine"
This would be great to run in App Engine.  I'll try getting it working and submit a PR with the requisite configs if I do.  I believe using dotenv for configs would be mandatory https://github.com/maxbbraun/trump2cash/issues/26

[2017-02-11 04:02] matthazinski commented on #5
I'd also like the ability to trade in short-term volatility and index funds (e.g. when executive orders are issued/challenged/rescinded).

[2017-02-11 07:45] sudheesh001 opened #29 "Consider using loklak for anonymously searching for tweets when you hit a rate limit"
Hey @maxbbraun I am one of the core developers of the loklak.org project and what you're doing here is amazing, for similar applications and for research we've built a P2P system which crawls and stores twitter data and provides you an anonymous API without authentication to search for tweets.

Maybe you could consider this API when you hit the rate limits on twitter ?

Here's a link to a sample s

[2017-02-11 13:01] jsvuorin opened #31 "Support for DriveWealth (for non-US)?"
DriveWealth allows customers internationally and seems to have an API as well: http://developer.drivewealth.com

[2017-02-11 13:47] benargo commented on #31
Duplicate of #22.

[2017-02-11 17:31] domingohui commented on #22
#19 #21
I think we have a few suggestions on trading platforms. I would love to help out on one of them if @maxbbraun you think that's a good idea!

[2017-02-11 18:16] BernsteinA commented on #24
It may not be in the docs but it's right there in trading.py

[2017-02-11 22:15] maxbbraun commented on #3
Ok, I tried both the Watson [sentiment analysis](https://www.ibm.com/watson/developercloud/alchemy-language/api/v1/?python#sentiment) and the [targeted sentiment](https://www.ibm.com/watson/developercloud/alchemy-language/api/v1/?python#targeted_sentiment) APIs.

Both perform worse than the current implementation using the [GCNL](https://cloud.google.com/natural-language/) APIs.

The targeted one

[2017-02-11 22:23] maxbbraun commented on #31
Consolidating into #22.

[2017-02-11 22:23] #31 closed

[2017-02-11 22:24] maxbbraun commented on #21
Consolidating into #22.

[2017-02-11 22:24] #21 closed

[2017-02-11 22:24] maxbbraun commented on #20
Consolidating into #22.

[2017-02-11 22:24] #20 closed

[2017-02-11 22:25] maxbbraun commented on #19
Consolidating into #22.

[2017-02-11 22:25] #19 closed

[2017-02-11 22:32] maxbbraun commented on #17
After some analysis I doubt that the claim "[Tweets by #POTUS signed -DJT](https://twitter.com/POTUS)" is true. At least [some of them](https://twitter.com/POTUS/status/828659055430352896) aren't coming from an Android phone and use image attachments, both of which are uncharacteristic for Trump. I'm calling "alternative fact" on that one.

I wonder now if it makes more sense to restrict the tweet

[2017-02-11 22:35] maxbbraun commented on #22
I'd be very interested in Robinhood, because they don't charge trading fees. They don't have a documented API (yet?), unfortunately.

[2017-02-11 22:44] maxbbraun commented on #4
Some improvements in https://github.com/maxbbraun/trump2cash/commit/02e66eddc4ea0666e4be1abec302cad7c48f2053, https://github.com/maxbbraun/trump2cash/commit/954f4621a1adf17132cfa8e7ded6dd6813dd2b25, https://github.com/maxbbraun/trump2cash/commit/725c0596773d58158a8b8cdab1b3b7b4a579b500, https://github.com/maxbbraun/trump2cash/commit/14d861fb3dc0e911afd60ae3f5cb48cfed4598f1, and https://github.com/

[2017-02-11 22:50] maxbbraun commented on #12
Happens about 7 times a week and is caught by main restart loop.

[2017-02-11 22:51] maxbbraun commented on #13
Happens about once a week and is caught by the main restart loop.

[2017-02-11 22:52] maxbbraun commented on #15
Happens about twice a week and is caught by the main restart loop.

[2017-02-11 22:53] levonk commented on #29
@sudheesh001 the loklak.org domain doesn't seem to resolve

[2017-02-11 23:47] Gangol commented on #22
Robinhood doesn't have public api but u can request api (bete) access.  There is a small request form to fill.

[2017-02-12 00:06] flaw600 commented on #3
@maxbbraun can you share your test set of tweets and if possible your Watson implementation? My admittedly very limited testing is showing both types of sentiment being accurate

[2017-02-12 00:16] maxbbraun commented on #3
@flaw600 Make the changes, run the [benchmark](https://github.com/maxbbraun/trump2cash/blob/master/benchmark.md), then look at the diff.

[2017-02-12 02:03] flaw600 commented on #3
Interesting. You're correct of course. In my limited testing using tweets not used in the benchmark I noticed Watson performing better (meaning more accurately than on this set, I didn't compare against GCNL) on his most recent tweets but you're right to stay on GCNL for now. Very intriguing

[2017-02-12 02:37] msilb commented on #22
I'd vote for Interactive Brokers. You can trade almost any type of security with them (stocks, futures, options etc.) using [IbPy](https://github.com/blampe/IbPy) API. Trading fees are quite low.

[2017-02-12 06:20] domingohui commented on #22
Seconded Interactive Brokers. I think they are available in many countries too. Would be nice to use the same [API](https://www.interactivebrokers.com/en/index.php?f=5041). But I don't see a python version of it. Does that mean it needs to run as a separate GAE instance just to make trades?

[2017-02-12 08:39] ColtenCaudle commented on #24
@markstos it's all in here

https://github.com/maxbbraun/trump2cash/blob/master/benchmark.md

[2017-02-12 13:11] markstos commented on #24
It should be in the README. If you are going to bet money on someone's advice, it's important to know upfront whether you are betting for or against the advice!

[2017-02-12 16:01] sudheesh001 commented on #29
@levonk I think we faced a temporary downtime for a few hours yesterday when our elasticsearch was scaling and reindexing, it's back up and running.

[2017-02-12 19:06] MailrPro commented on #22
I'd chime in for IB as msilb and domingohui both mention above. However, the page I located and the one domingohui linked to differ... The site site states python support see the following: [IB API](https://www.interactivebrokers.co.uk/en/index.php?f=5041). Alternatively, IG Group operate worldwide, are robust (have been running since the 1970s) and have API access. See [IG Group](https://www.ig.c

[2017-02-12 19:17] berrehili commented on #22
I support the idea of using Interactive Brokers. Best value / quality over price.

[2017-02-12 23:58] kylelee715 commented on #23
@zhenyulin I'm running into the same issue on the dependencies, could you share further what you did to get it working?

[2017-02-13 00:18] TheEECS commented on #17
@maxbbraun That's a fair point.  Also a cursory glance of the POTUS tweets seems to indicate that he doesn't post things exclusively on that account at this time.

[2017-02-13 03:04] domingohui commented on #22
@MailrPro Hmmm interesting... But that's good news.

[2017-02-13 05:04] domingohui commented on #24
@markstos You meant we should document what the bot should do following a Trump's tweet?
e.g. (in README) "if Trump says good things about a company, then the bot will go long on the company, and vice versa."

[2017-02-13 10:37] zhenyulin commented on #23
@kylelee715 I fixed my issue running installation with Python3, hth

[2017-02-13 14:30] markstos commented on #24
Exactly.

On Mon, Feb 13, 2017 at 12:04 AM, Domingo <notifications@github.com> wrote:

--
    Mark Stosberg
    Senior Systems Engineer
    RideAmigos

[2017-02-13 14:46] BernsteinA commented on #24
@markstos if you are going to run an open source bot that spends your own money, you should check out the code and not just trust the readme anyway :p

[2017-02-13 15:22] icfixx commented on #28
I had a similar issue, but got it working using  virtualenv

[2017-02-13 18:00] dustMason commented on #23
@zhenyulin please submit your dockerfile in a PR!

[2017-02-13 21:58] mikespax commented on #22
Looks like there's an unofficial Robinhood API here: https://github.com/aurbano/robinhood-node

[2017-02-13 22:05] cd-rum commented on #22
@mikespax More detail here: https://github.com/sanko/Robinhood

[2017-02-14 01:32] joarleymoraes commented on #6
One idea is to create a script to loop through all twitter accounts (we may narrow down to important ones only, based on some kind of popularity metric) and try to figure out the impact or correlation of their tweets with stock prices. The end goal would be trying to find pattern similar to what you have observed with Trump's account.

[2017-02-14 05:44] dustMason commented on #23
I'm not a very experienced pythonista, but I think this is written for python 2.x, not python 3. This one-liner Dockerfile successfully builds and runs:

[code]

[2017-02-14 21:25] mikazlopes opened #33 "Buying GM stock when I run Pytest"
I was testing the application and ran the Pytest. Only 2 test fail which is the test_get_balance and the test_make_order_request_success. It's normal because I don't have balance in my trade king account. What worries me is that on the order status dashboard in Tradeking is showing the multiple requests exactly with the same timestamp I ran the Pytest:

Buy	23	GM	GENERAL MOTORS CO.	Market	37.24	37

[2017-02-15 05:10] maxbbraun commented on #33
I frequently run the tests with a funded account and they don't execute real trades.

The way it works is that with the `USE_REAL_MONEY` environment variable set to anything other than `YES` I hit the [`accounts/:id/orders/preview`](https://developers.tradeking.com/documentation/accounts-id-orders-preview-post) endpoint instead of [`accounts/:id/orders`](https://developers.tradeking.com/documentat

[2017-02-15 05:10] #33 closed

[2017-02-15 05:50] Dotnaught opened #34 "UnicodeEncodeError"
Entering
`./benchmark.py > benchmark.md`
in a new install returns a Unicode error, apparently due to concatenating unexpected types.
`Traceback (most recent call last):
  File "./benchmark.py", line 191, in <module>
    print "\n\n".join(lines)
UnicodeEncodeError: 'ascii' codec can't encode character u'\u2026' in position 144: ordinal not in range(128)`

[2017-02-15 05:51] maxbbraun commented on #34
Try this:

[code]

[2017-02-15 06:16] Dotnaught commented on #34
That did it. Thanks.

[2017-02-15 06:16] #34 closed

[2017-02-16 03:35] maxbbraun commented on #13
Let's see how well https://github.com/maxbbraun/trump2cash/commit/1719b0fb5ccccfac3cb3195308039c53efa571d3 handles this.

[2017-02-16 03:35] #13 closed

[2017-02-16 03:36] maxbbraun commented on #12
Let's see how well https://github.com/maxbbraun/trump2cash/commit/1719b0fb5ccccfac3cb3195308039c53efa571d3 handles this.

[2017-02-16 03:36] #12 closed

[2017-02-16 20:49] AlainPilon commented on #5
@matthazinski talk about volatility highlight what I was about to say: instead of buy/short, the bot should use short lived options(calls/put). Buying or selling would be based on the expected volatility effect of the tweet.

Options offer better leverage and since most of the changes happen in a few days, we could use options with close expiration dates.

[2017-02-17 00:10] CraigglesO commented on #4
This is a great query system. For some reason I get get no results though:
(Link)[https://query.wikidata.org/#SELECT%20%3FcompanyLabel%20%3FrootLabel%20%3FtickerLabel%20%3FexchangeNameLabel%0A%20%20%20%20%20WHERE%20%7B%0A%20%20%20%20%20%20%3Fentity%20wdt%3AP646%20%22Apple%22%20.%20%20%23%20Entity%20with%20specified%20Freebase%20ID.%0A%20%20%20%20%20%20%3Fentity%20wdt%3AP176%2a%20%3Fmanufacturer%20

[2017-02-17 00:21] CraigglesO commented on #4
stupid me. For anyone else learning wikidata and the SPARQL system, the freebase requires and ID

https://www.wikidata.org/wiki/Property:P646

https://github.com/maxbbraun/trump2cash/blob/master/analysis.py#L125

[2017-02-17 05:12] domingohui opened #36 "Missed tweet from Trump"
Looks like the bot wasn't able to recognize The NY times in [this tweet](https://twitter.com/realDonaldTrump/status/832197515248275456).
Unless the bot thought the tweet carried a neutral sentiment?

[2017-02-17 05:19] maxbbraun commented on #36
News and TV companies are explicitly excluded since https://github.com/maxbbraun/trump2cash/commit/14d861fb3dc0e911afd60ae3f5cb48cfed4598f1.

[2017-02-17 05:19] #36 closed

[2017-02-19 13:25] ligi opened #37 "Ethics & Responsibility"
I understand might be an interesting experiment in some context. But I have huge ethical concerns. By doing this you basically support and amplify the ( IMHO already way to high ) power of trump. Do you really want this? I think this app should come with a big red warning sign - I would even be a bit more radical as greedy people might still use it despite this warning sign.

[2017-02-22 19:41] BasharAG opened #38 "Can I make it NOT trade, only tweet?"
I was wondering if I can make the bot tweet and not trade. I want to try and translate it, plus, I can't open a TradeKing account.

[2017-02-22 23:32] Russell-Vacanti commented on #38
Wouldn't you just have to delete the trade line in main.py
[code]

[2017-02-23 02:57] maxbbraun commented on #38
What @Russell-Vacanti said.

[2017-02-23 02:57] #38 closed

[2017-02-24 23:42] dskvr opened #39 "Robinhood API Integration - $0 fees"
The API has been reversed engineered (https://github.com/sanko/Robinhood) but it does appear that Robinhood has plans to release an API (https://support.robinhood.com/hc/en-us/articles/210216823-Robinhood-API-Integrations)

[2017-02-25 00:05] maxbbraun commented on #39
Duplicate of #22.

[2017-02-25 00:05] #39 closed

[2017-02-28 14:22] Dotnaught opened #40 "Tests failing"
`E       assert [{'exchange':...cker': 'BLK'}] == [{'exchange': ...cker': 'PNC'}]
E         At index 0 diff: {'root': u'PNC Financial Services', 'ticker': u'PNC', 'name': u'Bayer', 'exchange': u'New York Stock Exchange'} != {'ticker': 'BLK', 'root': 'BlackRock', 'name': 'Bayer', 'exchange': 'New York Stock Exchange'}
E         Full diff:
E         - [{'exchange': u'New York Stock Exchange',
E

[2017-03-01 03:41] #40 closed

[2017-03-01 04:49] Dotnaught opened #41 "Trade test failing after recent change"
(Assuming this test isn't failing because the market is closed...)

`_______________________ test_make_order_request_success ________________________

trading = <trading.Trading instance at 0x7f79f369a878>

    def test_make_order_request_success(trading):
        assert not USE_REAL_MONEY

            '<FIXML xmlns="http://www.fixprotocol.org/FIXML-5-0-SP2">'
            '<Order TmInForce="0" Typ

[2017-03-01 05:33] maxbbraun commented on #41
The tests seem to pass now. Maybe a transient error on the TradeKing side?

[2017-03-01 05:33] #41 closed

[2017-03-01 10:41] Pablocgdev commented on #37
This is Github not politicsub.

[2017-03-01 10:48] ligi commented on #37
@Pablocgdev  I am on github way longer than you - with way more contributions/repos/stars - so please do not tell me what this platform is about!
I am really sad about this repository and the reactions - really hope some of you broaden this very dangerous and narrow tunnel-vision you are into currently.

[2017-03-01 12:47] Pablocgdev commented on #37
Oh, I forgot the number of stars, aging and contributions makes your arguments stronger.

Nothing to talk with you. The only vision-tunnel here is yours, trying to censor a software because you don't like the politic view behind it, I'm sure a lot of people here doesn't share Trump politics but focus on development.

[2017-03-01 12:57] ligi commented on #37
I do not want to censor anything - but I just think it is really important to reflect on the implications of what you are working on. The humans building the gas-chambers where also only focusing on development and did not care about politics ..
And github is the place to discuss this - this is social coding - not asocial coding.

[2017-03-01 13:29] con-f-use commented on #37
Just stumbled upon this repository and issue. I find it hilarious:

 - The fact the repo exists in the first place is just pure gold.
 - The no. 1 issue is called "Ethics & Responsibility"
 - The issue is actually meant to be taken seriously (like sane people would trust a bot that parses natural language - and that of the *Orange One* nonetheless - with their savings; have you looked at the pictu

[2017-03-01 13:37] ligi commented on #37
I really hope @Pablocgdev is joking - and also really hope the author is joking - perhaps even some nasty joke like with some undocumented feature that transfer all funds to some environment protection NGO from people that actually are so greedy to use this software.
But I cannot speak for others - I for myself am not joking ( here currently - sometimes I am - but this here now is serious )

[2017-03-01 13:52] con-f-use commented on #37
A regular Cuban Missile Crisis.

[2017-03-02 01:45] cseale commented on #37
Lighten up. This is hilarious. I for one will be pumping the millions I earn from this tool into my Pro-Trump charity for "People Who Support Trump and Want to Learn To Do Other Stuff Good Too". I look forward to committing to this repo to help "raise the profile" of that little unknown loudmouth called THE PRESIDENT OF THE UNITED STATES.

[2017-03-03 15:59] moraleslevi commented on #37
I still can't tell if @ligi is joking or not. But maybe you should read the [repo author's article](https://medium.com/@maxbraun/this-machine-turns-trump-tweets-into-planned-parenthood-donations-4ece8301e722#.cu6iauhzi) which suggests donating any profits to charities such as the ACLU, Planned Parenthood, etc.

Hopefully that will unrustle those jimmies.

[2017-03-03 16:05] ligi commented on #37
Donating the profits to charities is not really helping. It is the same as selling someone a weapon to kill someone else and then giving the profit to the widow..

[2017-03-03 16:51] con-f-use commented on #37
[Straw man](https://en.wikipedia.org/wiki/Straw_man)

[2017-03-03 17:00] con-f-use opened #42 "."

[2017-03-03 17:01] #42 closed

[2017-03-05 02:25] #9 closed

[2017-03-06 22:19] maxbbraun opened #43 "Crash when trying to tweet with too many companies"
[code]

Two recent tweets ([838862131852369922](https://twitter.com/realDonaldTrump/status/838862131852369922), [838861512999649286](https://twitter.com/realDonaldTrump/status/838861512999649286)) ran into this issue. **Trading was not affected.**

The plan is to pick a less verbose format for the tweet text to begin with, then truncate to 140 characters if it's still over.

[2017-03-07 03:36] #43 closed

[2017-03-07 03:36] maxbbraun commented on #43
Tweet text example before:

And after:

[2017-03-07 03:57] bccbddggg commented on #37
Hey man after I discovered all of this I accidentally broke my phone and
had no way to continue with my page, so that is why I haven't responded. I
hope everything is under control. What is control?

On Mar 1, 2017 8:45 PM, "Colm Seale" <notifications@github.com> wrote:

[2017-03-07 04:05] bccbddggg commented on #38
Access? Frfr

On Feb 22, 2017 2:41 PM, "BasharAG" <notifications@github.com> wrote:

[2017-03-07 04:07] bccbddggg commented on #4
Ill look into

On Feb 16, 2017 7:10 PM, "CraigglesO" <notifications@github.com> wrote:

[2017-03-07 05:41] Dotnaught opened #44 "Error following recent tweet"
TweepError: [{u'message': u'Status is over 140 characters.', u'code': 186}]
at execute (/usr/local/lib/python2.7/dist-packages/tweepy/binder.py:229)
at _call (/usr/local/lib/python2.7/dist-packages/tweepy/binder.py:245)
at update_status (/usr/local/lib/python2.7/dist-packages/tweepy/api.py:194)
at tweet (/home/czxm/trump2cash/twitter.py:89)
at twitter_callback (./main.py:24)
at handle_data (/home/

[2017-03-07 06:11] maxbbraun commented on #44
Duplicate of #43.

[2017-03-07 06:11] #44 closed

[2017-03-08 00:50] cyouraku opened #45 "Would you make it possible to develop a trump2cash for FX trade as well?"
Trump says so much about FX, hope it works on FX trading as well.

[2017-03-31 00:44] nickvandewiele commented on #33
I confirm what @mikazlopes is reporting.

I believe the variable `trading.USE_REAL_MONEY` is set to `False` after you export the env. var. Hence, the statement:
`assert not USE_REAL_MONEY`
in the test `test_make_order_request_success` will go through, and hence proceed to the next assertion.

[code]

Could you elaborate where I can find the logs? I don't see any logs written with the pytest report

[2017-03-31 07:30] #15 closed

[2017-03-31 15:35] mikazlopes commented on #33
Hi,

I actually ran a test with funds in the account and confirm that it just simulates the transaction of buying GM stock. The API call from @maxbbraun is correct.

[2017-04-04 13:24] crisppY commented on #6
I think it would be better to filter social media accounts for just politicians. You could also do some language analysis on news articles.

[2017-04-26 04:49] domingohui opened #47 "Decreasing return"
I notice ```benchmark.md``` hasn't been updated lately. But I'm just curious why the algorithm is not as effective after January. Is it because of the accuracy of the sentiment analysis or the correlation between share prices and trump's tweets has gone down? Could also be taking too much risk? But that's hard to tell w/o looking at the sentiment scores...

[2017-04-28 04:48] LemonDoo opened #48 "How to add main.py to the Linux VM?"
I'm at the part where I SSH'd into my linux disk, but now I don't know how to import all the python code from this github. I'm sure its an easy step, that's why it was glossed over?

[2017-04-28 05:28] #48 closed

[2017-05-08 02:27] moe-khan123 commented on #45
Good idea. I was looking through Trump's twitter feed when he was planning to place tariffs on Canada's lumber imports. When that announcement was made it really plummeted Canada's Dollar which would have made a nice short selling opportunity. I think every time he mentions imposing a tax on a country it would be a nice trading opportunity.

[2017-05-08 02:53] moe-khan123 commented on #7
Hi Max, great work. Total python newb here coming from an ASP.NET background -- You're using Compute Engine to essentially run the bot on that platform right?

I am thinking perhaps there is an interface that has "Start Bot" and "Stop Bot" and the bot runs locally on your machine rather than deploying the python application to a VM. Thoughts?

[2017-05-08 03:41] moe-khan123 commented on #47
By skimming through the code, I believe if its a positive sentiment / bull market -- Stock is bought then sold at the end of the day. It's not very complex since by the end of the day at market close, it is very possible that the market had rallied back down a bit and there is not an optimal return.

I think we should definitely use buying volume/selling volume data into the equation so that we ca

[2017-07-01 04:27] kylerschin commented on #17
Can I change the handle in the settings?

[2017-08-26 12:57] WilliamJamesDalrympleWest opened #49 "Dump Data"
Any specific avenue recommended to dump the data (tweets) + (sentiment) and (analysing) results in to live databases ?

[2017-08-26 14:02] dumpingground12222 opened #50 ","
.

[2017-08-26 14:40] WilliamJamesDalrympleWest commented on #39
Is this intergrateable?

[2017-08-26 15:41] WilliamJamesDalrympleWest commented on #22
Was this ever resolved?

[2017-08-26 16:29] WilliamJamesDalrympleWest commented on #47
How did you get on with this\/

[2017-08-26 19:15] WilliamJamesDalrympleWest commented on #29
@sudheesh001  can you send details of this to wjdw@invacio.com interested for another project...

[2017-08-26 19:16] WilliamJamesDalrympleWest commented on #17
can additional handles be added for additional players?

[2017-08-27 20:01] WilliamJamesDalrympleWest commented on #50
@maxbbraun  is this abandoned ?

[2017-08-27 20:02] WilliamJamesDalrympleWest commented on #49
@maxbbraun appreciate a recommended.

[2017-08-27 20:18] WilliamJamesDalrympleWest opened #51 "tweeperror"
except Exception as e:

E               TweepError: Failed to send request: Only unicode objects are escapable. Got None of type <type 'NoneType'>.

Note for others i believe this will resolve this as this application is undocumented, and (our end) full or errors.

https://github.com/requests/requests-oauthlib/issues/11

[2017-08-27 20:18] #51 closed

[2017-08-28 11:40] WilliamJamesDalrympleWest commented on #45
Did anyone ever do this?

[2017-08-28 20:50] kylerschin commented on #17
What if I fork the project for... I don't know.... A list of top tech billionares.

[2017-08-28 22:24] WilliamJamesDalrympleWest opened #52 "Sell order when overall trade is above 10$"
Does anyone know (i am merging this code with our own) but i am coming unstock trying to work out where the ALLY/Tradeking and this script combine to determine the profit call on a trade, so looking for pointers where in the code this exists if not where it should be tied in and created?

@maxbbraun this is your O/S Baby, i take it you do follow it's uses / issues?

[2017-08-28 22:26] WilliamJamesDalrympleWest opened #53 "Ally / Tradeking Forex"
Again another issue/enhancement @maxbbraun , wanting to inject Forex in to the equation, not seeing any documentation bar talk of adding forex, is there any specific areas this has been added but not showing or finished, and if not where would you recommend, and how would you recommend tying in to your current set up.

[2017-10-30 23:36] taewookim commented on #53
you're gonna need a port to FX broker.. which I dont recommend. Most are sheisty as hell

[2017-11-24 19:57] tibbon opened #54 "Benchmark update"
How's this strategy going?

[2017-12-22 11:52] rellieborneo opened #55 "open key"
https://support.google.com/chrome/answer/185277

[2017-12-22 11:52] #55 closed

[2018-01-01 09:07] Se1ecto commented on #6
It could also look into tweets of people reacting to Trump's tweets, especially people who always respond to them. A nice example would be if Bloomberg were to respond to Trump's tweets.
Another idea could be to pick some articles based on keywords on his Tweets, search articles based on them, and base decisions on the results.

I'm new to this, so any way to contribute would be a great start for

[2018-01-03 11:18] tagomatech commented on #54
Same question here. Is there un update, please?

[2018-08-07 19:18] forddasav commented on #54
Not going great. It's really not that profitable because when it doesn't get it right you loose quite a bit

[2018-09-22 19:39] maxbbraun opened #56 "InvalidArgument: 400 The language pl is not supported for entity analysis"
Stack trace:

[code]

Additional logs:

[code]
[code]

[2018-09-22 20:29] #56 closed

[2019-02-13 14:56] Jibosoft commented on #13
please check this code for me

1

<!DOCTYPE html>

2

<html lang="en">

3

  <head>

4

    <meta charset="UTF-8" />

5

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

6

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

7

​

8

    <title>Mini App</title>

9

​

10

    <style>

11

      body {

12

  background-color: #ffffff;

13

}

14

      h2   {

[2019-05-06 06:56] larssb commented on #50
Any news on this?

[2019-08-05 21:52] miketomato13 commented on #50
would like to hook tdameritrade into it. ;p

[2019-11-15 18:11] patah opened #57 "blablablablabla oh continuss geniuss"

[2020-05-21 13:57] Anbarrasso commented on #13
hhhihi

[2020-07-03 02:32] labidus commented on #3
For sentiment analyst, since you are using python, neural network with LSTM could be a solution
Something like this : https://github.com/bentrevett/pytorch-sentiment-analysis

[2020-07-21 11:25] msohaibali opened #60 "Need help for /1.1/users/lookup request"
I am trying to do request on users/lookup route of Twitter API using params of Email/Phone. In the result I am getting error
**Could not authenticate you.** in response

While using the same credentials when i do request for screen_name, user_id lookup I am getting perfect Response. Not only that all other api requests like home_timeline, followers_ids, friends_ids, etc are working fine with same

[2020-07-23 03:39] maxbbraun commented on #60
This sounds more like a general [Twitter API](https://stackoverflow.com/questions/tagged/twitter) question.

[2020-07-23 03:39] #50 closed

[2020-07-23 03:39] #60 closed

[2020-07-23 03:41] maxbbraun commented on #54
Commit 4dfd2546c9b5a239778268f448f2da89b73a796b updates the [benchmark](https://github.com/maxbbraun/trump2cash/blob/master/benchmark.md).

[2020-07-23 03:41] #54 closed

[2020-07-23 03:43] maxbbraun commented on #47
See #54.

[2020-07-23 03:43] #47 closed

[2020-07-27 02:14] maxbbraun commented on #22
[Alpaca](https://alpaca.markets) looks interesting too.

[2020-08-11 13:41] ArnavGoelHitman commented on #13
good

[2020-09-10 09:35] wittyN-K35 opened #61 "Trade bot"
Trump Tweets

[2020-09-10 19:34] #61 closed

[2020-12-05 22:28] DamieFC opened #62 "Idea"
How did you come up with this? It's one of the most creative things I've seen so far.

[2021-01-11 17:49] Nllii opened #64 "This was a fun ride."
I'm predicting a read-only mode. So,Thanks for an awesome codebase.

[MEME ECONOMY](https://www.reddit.com/r/wallstreetbets/comments/h7yost/kanye_west_and_president_trump_meet_to_discuss/?utm_source=share&utm_medium=ios_app&utm_name=iossmf)

[Trolling](https://www.reddit.com/r/wallstreetbets/comments/cl8mko/trump_trolls_about_bmw_and_mercedes_tariffs/?utm_source=share&utm_medium=ios_app&utm_name=i

[2021-01-12 06:35] seanmaverick0520 commented on #13
<!doctype html>
--
  | <html dir="ltr" lang="en">
  | <head>
  | <meta charset="utf-8">
  | <title>New Tab</title>
  | <style>
  | body {
  | background: #FFFFFF;
  | margin: 0;
  | }
  |  
  | #oneGoogleBar {
  | height: 56px;
  | }
  |  
  | #backgroundImage {
  | border: none;
  | height: 100%;
  | pointer-events: none;
  | position: fixed;
  | top: 0;
  | visibility: hidden;
  | width: 100%;
 

[2021-02-05 14:31] emilsgulbis opened #65 "WE NEED ELON2CASH"

[2021-02-06 07:51] maxbbraun commented on #65
We sure do. I think I prefer one syllable before 2Cash though.
1. Created the [@Musk2Cash](https://twitter.com/Musk2Cash) account.
2. In a branch, changed the user IDs: 7a4717abb42b1f7783d8af78b1b80ca92d83d6eb
3. Added crypto support for good measure: 0c8b521bda37c83b40a0bb84a9d6b6bdc5c639bf

[2021-02-11 16:50] ALT-KIK opened #66 "class diagrams and use cases"
I am University student and my job is to make class diagrams and uses cases for some project. I chose this project and can make it. Ofc if you need it.
If you think that you don't need it now, I can make SRS document for the project. Also, if you need ofc.
What is SRS document: https://en.wikipedia.org/wiki/Software_requirements_specificationi

[2021-02-20 20:14] franz101 commented on #65
@maxbbraun you are epic!

[2021-02-20 20:30] franz101 opened #67 "Checking the sentiment too often?"
Hey Max,

I love love love your projects. I loved reading the code.
Experimenting with it today. I noticed something that I think is a mistake:

[sentiment = self.get_sentiment](https://github.com/maxbbraun/trump2cash/blob/1d6642f5d36b7420dc0bfcd843e54f305abea4bf/analysis.py#L212 )

this happens in the loop where you go over each entity.
Then from the entities you loop over each wikipedia company.

[2021-02-28 23:53] maxbbraun commented on #67
Hi Franz!

You're correct in pointing out that this line isn't very efficient. It was an artifact from initially trying to determine sentiment per company, since they could be different. (See also #3.) I just added a fix in 0d13c254bebed693eefea0ae026a16e1b215fcb5.

On the backtesting issue, the benchmark certainly could be significantly improved in many ways. It's also probably something that rea

[2021-02-28 23:53] #67 closed

[2021-03-04 09:30] franz101 commented on #67
@maxbbraun that'S great, for this you can use the API:
https://language.googleapis.com/v1/documents:analyzeEntitySentiment

I build a prototype in Google Sheets with Google App Script 😀 😀

![Screenshot 2021-03-04 at 10 26 19](https://user-images.githubusercontent.com/18228395/109942448-80c16100-7cd4-11eb-88bc-e174ad75f366.png)

[2021-03-04 15:09] maxbbraun commented on #67
I've tried that API too, but the results aren't good. There's probably just not enough words in an average tweet to do reliable sentiment detection at a granular level.

[2021-03-04 18:28] joeycurnutt commented on #37
This aged well

[2021-03-04 19:27] ligi commented on #37
I for one am really happy twitter solved the problem and this guy is neither on twitter anymore nor POTUS ..
And once more disappointed in google. Seems Google's 'Don't Be Evil' was a canary seeing googlers behind repositories like this.

[2022-01-24 18:43] mylesthegod commented on #13
nigga

[2022-01-24 18:44] mylesthegod opened #70 "gv6by78byiubyiu"

[2022-08-09 05:26] pysol-dev commented on #6
It's been a while since this bot was created and I intend to revive it as a general social media trading bot. There are paid Discord servers as well as paid Twitter profiles which send out buy/sell orders to subscribers. I want to attach bots to these accounts to automate their trades. In terms of political figures, as waseem mentioned, I don't think using their Twitter profiles would be adequate.

[2022-11-20 04:32] mortdeus opened #72 "are we back baby?"

[2022-11-22 02:27] maxbbraun commented on #72
There are two VMs running now, one for [@Musk2Cash](https://twitter.com/Musk2Cash) (from [this branch](https://github.com/maxbbraun/trump2cash/tree/musk2cash)) and one for [@Trump2Cash](https://twitter.com/Trump2Cash). The metrics look nominal, but I've never had them active at the same time, so we'll see what happens when he tweets!